<script src="js/create_activity.js"></script>
<div id="main-container">
  <header data-role="header" data-position="fixed" data-theme="b" style="padding:10px">
    <img src="/images/you-act-on-it-header.png" style="padding-left:30px"/>
     <a href="/list" data-icon="back" data-rel="back" data-iconpos="notext" data-transition="slide" data-direction="reverse"></a>
  </header>
  <div id="activityForm">
    
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
    
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Enter description"></textarea>
    
      <label for="activity_date">Date:</label>
      <input type="text" data-role="date" id="activity_date" name="activity_date">
      
      <label for="activity_location">Location:</label>
      <input type="text" id="activity_location" name="activity_location">
      <button type="button" name="getLocation" id="getLocation" class="btn btn-default">Get Location</button>

      <label for="activity_picture">Picture:</label>
      <input type="text" id="activity_picture" name="activity_picture">
      <button type="button" name="acquirePicture" id="activityPicture" class="btn btn-default">Acquire Picture</button>

      <button name="btnSubmit" id="btnSubmit" class="ui-btn-hidden" aria-disabled="false">Submit</button>
    
  </div>
</div>
