<section data-role="content">
	<header data-role="header" data-position="fixed" data-theme="b" style="padding:10px">
	    <img src="/images/you-act-on-it-header.png" style="padding-left:30px"/>
	  <a href="/list" data-icon="back" data-rel="back" data-iconpos="notext" data-transition="slide" data-direction="reverse"></a>
	</header>
  <div class="banner">
    <div class="jumbotron">
      <img src="{{details.visual_asset}}" class="details-image-thumb"/>
    </div>
  </div>
  <h2 style="margin-left:15px">{{details.title}}</h2>
  <p class="location"><strong>{{details.activity_location}}</strong></p>
  <p style="margin-left:15px">{{details.description}}</p>
  
  <a href="#popupBasic" data-rel="popup" class="btn rsvpButton" data-transition="pop" style="width:100%">RSVP</a>
	<div data-role="popup" id="popupBasic">
	<p>Thanks for taking action!</p>
	</div>
	
	
	<div style="padding:10px">
		<div>Sponsored by:</div>
		<img class="popphoto" src="/images/sponsors/ymcalogo.png" style="width:18%">
		<img class="popphoto" src="/images/sponsors/disney_abc_television_group_logo_a_l.jpg" style="width:18%">
		<img class="popphoto" src="/images/sponsors/NICKELODEON_Logo.png" style="width:18%">
		<img class="popphoto" src="/images/sponsors/Sony-network-entertainment.png" style="width:18%">
		<img class="popphoto" src="/images/sponsors/sponsors_mgo.jpg" style="width:18%">
	</div>
</section>