<header data-role="header" data-position="fixed" data-theme="a">
  <a href="/list" data-icon="back" data-rel="back" data-iconpos="notext" data-transition="slide" data-direction="reverse"></a>
  <h1>Youth Act On It</h1>
</header>
<section data-role="content">
  <div class="banner">
    <div class="jumbotron">
      <img src="{{details.visual_asset}}"/>
    </div>
  </div>
  <h2 style="margin-left:15px">{{details.title}}</h2>
  <p style="margin-left:15px">{{details.description}}</p>
</section>
