<div id="main-container">
	<label>Welcome to YOUth Act On It:</label>
	<a id="btnSignUp" class="ui-shadow ui-btn ui-corner-all" href="sign_up.html">Sign Up</a>
	<a id="btnLogIn" class="ui-shadow ui-btn ui-corner-all" href="log_in.html">Log In</a>
</div>
