<script src="js/home.js"></script>
<div id="main-container">
	<a href="/list" id="homeLogoLink">
		<img alt="YOUth Act On It" title="YOUth Act On It" src="images/placeholder.jpg" class="center-logo">
	</a>
</div>
