<div id="main-container">
	<label>Welcome to YOUth Act On It:</label>
	<a id="btnSignUp" class="ui-shadow ui-btn ui-corner-all" href="signup">Sign Up</a>
	<a id="btnLogIn" class="ui-shadow ui-btn ui-corner-all" href="login">Log In</a>
</div>
