<div id="main-container">
  <ul data-role="listview" data-inset="true" data-split-icon="gear" data-split-theme="a">
    {{#each object.activities}}
    <li>
      <a href="/details/{{activity_id}}" class="listing" data-transition="slide">
        <img src="{{visual_asset}}" style="max-width:120px;" />
        <h2 style="margin-left:15px">{{title}}</h2>
        <p style="margin-left:15px">{{description}}</p>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
