<div id="main-container">
	<label for="txtEmail">Email:</label>
   		<input type="text" name="txtEmail" id="txtEmail" value="">
   		<label for="txtPass">Password:</label>
   		<input type="password" name="txtPass" id="txtPass" data-clear-btn="true" value="">
	<button id="btnSignUp" class="ui-shadow ui-btn ui-corner-all">Sign Up</button>	
</div>