#main-container{
	padding: 0px;
  margin:0px;
}

.banner{
  text-align: center;
  width: 110%;
  margin-left: -16px;
  margin-top: -16px;
}

.jumbotron{
  background-color: #444;
}

.location {
  margin-left:15px;
  font-size: 13px;
}

#activityForm{
  padding: 10px;
}

.rsvpButton {
  background-color: #d9534f !important;
  color: #fff !important;
}

#homepage {
  height: 50px;
  line-height: 40px;
}