#main-container{
	padding: 0px;
  margin:0px;
}

.banner{
  text-align: center;
  width: 110%;
  margin-left: -16px;
  margin-top: -16px;
}

.jumbotron{
  background-color: #444;
}

.location {
  margin-left:15px;
  font-size: 13px;
}